doctype html
html
    head(lang="ru")
        meta(charset="UTF-8")
        title ShowlpaceUdmurtia
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", type="text/css", href="css/style.css")
        script(src = "svg/js-sprite.js")
    body
        // include svg sprite
        #svg-icon-placeholder
        script
            | if (window.svgsprite) { document.getElementById('svg-icon-placeholder').innerHTML = svgsprite; }
        div.scroll-container
            div.general-container.general-container--main-page
                block content

    include ../includes/scripts
