footer.footer
    div.footer__content
        include ../includes/social-buttons
        p.footer__copy
            |<span class="text-accent">©</span> 2010-2015
        p.footer__text
            |При перепечатке материалов данного проекта, пожалуйста, указывайте ссылку на&nbsp;него.
        p.footer__text
            |Уважайте себя, наш труд, чтите уголовный кодекс и берегите свою карму.
        p.footer__note
            |Прогресс прогрессирует, поколения сменяются поколениями, жизнь кипит, а материалы данного проекта имеют смутное сходство с научной действительностью и представляют собой вольное субъективное выражение любви к Удмуртской Республике.