// build:js(/) js/vendor.min.js
script(src="bower_components/jquery/dist/jquery.js")
script(src="bower_components/jquery-validation/dist/jquery.validate.js")
// endbuild
// build:js(dev/) js/script.min.js
script(src="js/form.js")
script(src="js/script.js")
// endbuild