.button{
    &-logo{
        display: block;
        opacity: 0.7;
        width: 30px;
        height: 30px;
        background: none;
        padding: 0;

        svg{
            fill: $color--primary;
        }

        @include adaptive(mobile){
            width: 40px;
            height: 40px;
        }

        @include adaptive(sm){
            width: 70px;
            height: 70px;
        }

        @include adaptive(big){
            width: 115px;
            height: 115px;
        }

        .desktop &{
            transition: opacity .5s;
            &:hover{
                opacity: 1;
            }
        }
    }

    &-down{
        display: block;
        opacity: 0.7;
        width: 30px;
        height: 20px;
        background: none;
        padding: 0;
        svg{
            fill: $color--primary;
        }
    }
}
