.icon{
    &-social{
        display: inline-block;
        width: 30px;
        margin-right: 20px;
        opacity: 0.3;

        @include adaptive(sm){
            width: 50px;
            margin-right: 35px;
        }
        
        &:last-of-type{
            margin-right: 0;
        }

        &:focus{
            opacity: 1;
        }

        .desktop &{
            transition: opacity .3s;
            &:hover{
                opacity: 1;
            }
        }

        svg{
            fill:  $color--primary;
        }




    }

}