.main-menu{
    &__button{
        position: absolute;
        z-index: 15;

        @include adaptive(big){
            top: 30px;
            right: 30px;
        }
    }

    &__container{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        position: absolute;
        right: 0;
        top: 0;
        background: url('../img/bg-pattern.jpg') repeat;
        opacity: 0;
        z-index: 4;

        .desktop &{
            transition: all 0.5s;
        }

        &.active{
            opacity: 1;
            z-index: 10;
        }
    }

    &__list{
        display: block;
        width: 100%;
        max-width: 1000px;
        margin: 100px auto 0;
    }

    &__item{
        text-align: center;
        @include adaptive(big){
            margin: 0 20px 45px;
        }

        .desktop &{


            &:hover{
                .main-menu__link{
                    color: $color--text-hover;
                }
            }

        }
    }
    
    &__link{
        font-family: $font--veles;
        font-weight: 700;
        color: $color--text-primary;
        @include adaptive(big){
            font-size: 83px;
            line-height: 100px;
        }

        &:hover{
            transition: color .3s;
        }

    }

    &__desc{
        font-weight: 700;
        display: none;

        @include adaptive(big){
            font-size: 31px;
            line-height: 37px;
            padding: 55px 0 0;
        }
    }
}