extends ./../layouts/layout
block content
    div.page.page--about
        div.page__content
            h1
                |О проекте
            h2
                |Удмуртия: леса, поля и реки, кумышка, перепечи, человеки!
            p
                |Ресурс, созданный энтузиастами с рассказами об удивительном регионе
            div.columns-block.columns-block--triple
                div.columns-block__item
                    div.columns-block__img-block
                        div.columns-block__img.icon-tomato
                            svg(x="0px" y="0px" width="100%" height="100%" viewBox="0 0 100 100")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tomato")
                    p.columns-block__text
                       |единственной в&nbsp;мире стране вечнозелёных помидор
                div.columns-block__item
                    div.columns-block__img-block
                        div.columns-block__img.icon-croc
                            svg(x="0px" y="0px" width="100%" height="100%" viewBox="0 0 100 100")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#croc")
                    p.columns-block__text
                       |неповторимой родине крокодилов
                div.columns-block__item
                    div.columns-block__img-block
                        div.columns-block__img.icon-tomato
                            svg(x="0px" y="0px" width="100%" height="100%" viewBox="0 0 100 100")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fork")
                    p.columns-block__text
                       |уникальном месте происхождения пельменей
            h2
                |Задачи проекта
            div.about__block
                h3
                    |Разгребание медвежьих углов географии вплоть до последней кочки:
                p
                    |расскажем и покажем, где находится Удмуртия, что тут имеется из ландшафта, как добраться, во что одеваться, чтоб уши не отморозить знойным удмуртским летом.
                span.icon-hat.about__icon.about__icon--hat
                    svg(x="0px" y="0px" width="100%" height="100%" viewBox="0 0 100 100")
                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#hat")
            div.about__block
                h3
                    |Заполнение историко-культурных и&nbsp;мифологических пустот сознания (и&nbsp;подсознания):
                p
                    |опишем и&nbsp;продемонстрируем откуда Удмуртия взялась и чем занималась все эти годы до&nbsp;настоящего времени.
                span.icon-dino.about__icon.about__icon--dino
                    svg(x="0px" y="0px" width="100%" height="100%" viewBox="0 0 100 100")
                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dino")
            div.about__block
                h3
                    |Тяга к&nbsp;прекрасному:
                p
                    |достопримечательности и&nbsp;искусство Удмуртии в&nbsp;картинках, песнях и&nbsp;плясках фольклорных, классических и&nbsp;современных элементов.

            div.about__block
                h3
                    |Наше всё:
                p
                    |люди Удмуртии.
                p
                    |Наша республика не&nbsp;является задворками галактики, у нас есть что посмотреть и&nbsp;есть чем заняться.
                span.icon-music.about__icon.about__icon--music
                    svg(x="0px" y="0px" width="100%" height="100%" viewBox="0 0 100 100")
                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#music")
            div.about__block
                h3
                    |Айда, заходите!
                span.icon-ufo
                    svg(x="0px" y="0px" width="100%" height="100%" viewBox="0 0 100 100")
                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ufo")
            h2
                |Контакты
            p
                |Если вам есть чем поделиться с&nbsp;мировой общественностью в плане неуказанных нами достопримечательностей или красивыми фотография всего добра Удмуртии (сделанными вами лично), мы с&nbsp;удовольствием примем это в&nbsp;дар.
            p
                |Если вы&nbsp;нашли какую-то неточность или хотите сказать нам пару приятных слов, воспользуйтесь формой:
            form.about__form.form__container(id="form-contact")
                div.form__block
                    input.form__field.form__field--text(type="text" placeholder="Как к вам обращаться")
                div.form__block
                    input.form__field.form__field--text(type="text" placeholder="Как с вами связаться")
                div.form__block
                    textarea.form__field.form__field--textarea(placeholder="Ваше сообщение")
                div.form__block
                    label.form__button.form__file-block
                        |Прикрепить файл
                        input.form__file(type="file")

                button.form__button.form__button--submit(type="submit")
                    |Отправить

