extends ./../layouts/layout
block content
    div.page.page--our-all
        div.page__content
            h1
                |Наше всё
            div.content-filter
                div.content-filter__menu-block
                    div.content-filter__menu-title
                        button.button-down.button-down--small
                            svg(x="0px" y="0px" width="100%" height="100%" viewBox="0 0 100 100")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down")
                        span.content-filter__title-text
                            |Всё
                    ul.content-filter__menu
                        li.content-filter__menu-item.active
                            a.content-filter__menu-link.active(href="#" data-type='all')
                                span.content-filter__menu-text
                                    |Всё
                        li.content-filter__menu-item
                            a.content-filter__menu-link(href="#" data-type='myth')
                                span.content-filter__menu-text
                                    |Мифология
                        li.content-filter__menu-item
                            a.content-filter__menu-link(href="#" data-type='eat')
                                span.content-filter__menu-text
                                    |Еда
                        li.content-filter__menu-item
                            a.content-filter__menu-link(href="#" data-type='museum')
                                span.content-filter__menu-text
                                    |Музеи
                div.content-filter__content(data-type='all')
                    div.our-all-content
                        img.our-all-content__img(src="img/icons/sib-trakt.png")
                        h2.our-all-content__title
                            |Тол Бабай
                        div.our-all-content__info
                            span.our-all-content__address
                                |Музей истории Сибирского тракта
                            span.our-all-content__date
                                |XVII–XIX вв.
                        div.our-all-content__desc
                            |Из дикого захолустья село однажды превратилось в культурно-ярмарочный центр с почтой, церквями, земской станцией, конно-этапной тюрьмой и военным лазаретом. «Debesyneversleep»  —  это девиз тех времён, потому что караваны шли круглосуточно.
                        div.our-all-content__text-block
                            ul.our-all-content__contacts
                                li.our-all-content__contacts-item
                                    |www.debesymuseum.ru
                                li.our-all-content__contacts-item
                                    |Тел.: +7 (34151) 4-13-04
                                li.our-all-content__contacts-item
                                    |e-mail:deb-musei@mail.ru
                            div.our-all-content__text
                                p
                                    |Северо-восток Удмуртии, река Чепцá, холмистое образование Галанчá, гора Байгурéзь. В V веке нашей эры в эти дивные красоты пришли древние прадебёссцы и рассредоточились.
                                p
                                    |Организовали селища и городища, придумали этому всему название Дебёсы, что в переводе значится «последний в верховьях Чепцы уступообразный холм, стоящий в непосредственной близости от реки», и зажили спокойной жизнью «мир-труд-май». Тихо, размеренно, междусобойчиком. Если бы не два «но» — гонимые властью пришельцы и дорога. Про первых ничего не скажем, сами почитаете. А второе нам очень интересно, ибо основополагающее.
                                p
                                    |Мимо Дебёс преспокойным бесплатным образом по хитрым кочкам можно было проскочить на Урал или в Сибирь (а там и в сам Китай) в обход Верхотурской таможни. Мимо казны государевой получалось много денег, поэтому в XVII веке был учреждён «Дебёсский караул». Теперь, кроме медведей и политических диссидентов, дебёссцам мешали спокойно жить нарушители таможенного режима! Не служба, а мучения, потому что хитрые кочки не были занесены в гос. реестр, и нарушители вместо денег показывали Дебёсскому караулу язык и убегали в тайгу.
                                p
                                    |Конец этой печали положила Екатерина II и с начала XIX века через Дебёсы стал официально проходить Сибирский тракт, соединявший Санкт-Петербург и Москву, и посылавший их обоих в Сибирь. Федеральная трасса одномоментным эволюционным скачком вытолкала тихие Дебёсы в стратосферу. Из дикого захолустья село в момент превратилось в культурно-ярмарочный центр с почтой, церквями, земской станцией, конно-этапной тюрьмой и военным лазаретом. «Debesyneversleep» — это девиз тех времён, потому что караваны шли круглосуточно.
                                p
                                    |По протяженности Сибирский тракт  — самая длинная дорога в мире. Гляньте на глобус и прикиньте масштаб сухопутного соединения Европейской части России с Китаем через Сибирь. То-то же! Расстояние огромное,  в вёрстах более восьми тысяч.  До наших с вами дней тракт в полном объёме не дожил, современные федеральные трассы используют его кое-где только фрагментарно (например,  дорога Казань-Малмыж-Пермь-Екатеринбург). Но, благодаря Музею истории Сибирского тракта в Дебёсах до нас дожили аутентичные постройки, участок дороги и прочие артефакты той эпохи.
                                p
                                    |С 1991 года Музей располагается в здании казармы нижних чинов. Раньше строений, прикреплённых к государевой дороге, было больше:  кроме конно-этапной тюрьмы, упомянутой ранее, было два амбара, три фирменные военные будки, дровяник, пороховой погреб и лазарет для конвоиров. Это всё потому, что с 1822 года Дебёсы стали ещё и пунктом для днёвок-ночёвок этапируемых на каторгу арестантов. В кандалах пешком через всю Россию-матушку «в Сибирь жестокую далёко судом я в ссылку осужден»…
                                p
                                    |Экспозиции музея посвящены истории Сибирского тракта «от первого камушка и до последнего арестанта», истории Дебёс и Дёбесского района, концепции российской дороги в жизни человека, быту пересыльных и их конвоиров. Плюс легендарные вековые Екатерининские берёзы красоты неописуемой, посаженные ещё в начале XIX в качестве защиты тракта от снега и прочих природных явлений.
                                p
                                    |Дебёсы посетили великие люди: декабристы, жёны декабристов,  Достоевский, Салтыков-Щедрин, Герцен, Короленко, Радищев, Чернышевский, а так же другие выдающиеся и перспективные личности, в последствие вошедшие в анналы истории.
                                p
                                    |Теперь к этому списку может присоединиться любой житель планеты Земля  и направить стопы в Дебёсы, в Музей, чтобы ознакомиться с потрясающими экспонатами, послушать рассказы научных сотрудников музея, расширить кругозор, помножить знания, подышать свежим воздухом среди берёз, прогуляться в кандалах по маршруту «Москва—Каторга», прочувствовать магическую силу Дебёсского района и испытать неповторимые эмоции с перспективой попасть в те же самые исторические анналы.
                            div.our-all-content__link-block
                                a.our-all-content__link(href="#")
                                    |Посмотреть на карте
                                a.our-all-content__link(href="#")
                                    |Посмотреть фоточки
                        button.button-down
                            svg(x="0px" y="0px" width="100%" height="100%" viewBox="0 0 100 100")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down")



