extends ./../layouts/layout-index
block content
    div.cover
        h1.cover__title
            |леса, поля и реки, кумышка, перепечи, человеки
        div.cover__image-block
            img.cover__image.cover__image--mobile(src="img/cover/cover-mobile.png" title="Удмуртия")
        include ../includes/social-buttons