extends ./../layouts/layout
block content
    div.page.page--udm
        div.page__content
            h1
                |Удмуртия
            h2
                |На&nbsp;самом-то деле вся планета Земля&nbsp;— это Удмуртия и&nbsp;Неудмуртии
            p
                |Про Неудмуртии все всё знают, все там были, фоточек наделали, в соцсети выложили, лайки получили.
            p
                |А вот Удмуртия — это вопрос серьёзный и не всякий добирается до 55°12`—58°38` северной широты, 51°10`—54°26` восточной долготы на Верхнекамскую возвышенность междуречья Камы и Вятки, потому что не знает, что: площадь Удмуртии в 42,1 тыс. км² превышает площади таких Неудмуртий, как Бельгия, Нидерланды и Швейцария. Есть где разгуляться — целых 42,1 тыс. км² всё-таки!
            a(href="#")
                |Карта Удмуртии
            h2
                |Удмуртия&nbsp;— это шикарная природа
            p
                |Тут вам и&nbsp;бурелом-тайга на&nbsp;севере, тут вам и&nbsp;зелёные равнины на&nbsp;юге. Вот вам холмы, вот вам низины. Корабельные сосны пачками, берёзовые рощи стеной, смешанный лес&nbsp;— пожалуйста. Реликтовые растения кругом.
            p
                |Около 7000 рек и&nbsp;600 прудов&nbsp;— о, как! Рыбы навалом и&nbsp;летом, и&nbsp;зимой, устали ловить уже. Родники бьют фонтанами минеральной воды повсеместно, чему Неудмуртия&nbsp;— Карловы Вары завидует давно и&nbsp;безнадёжно.
            p
                |Медведи в&nbsp;берлогах, лисы в&nbsp;норах, белки в&nbsp;дуплах, бобры в&nbsp;хатках, и остальная живность тоже по&nbsp;своим местам. Лоси, правда, ходят по&nbsp;дорогам иногда, но&nbsp;они добрые! Кругом свежий воздух, но&nbsp;надо понимать, что город и деревня&nbsp;— две большие кислородные разницы.
            p
                |Погода внутриконтинентального климата, четыре времени года: зима, «когда&nbsp;же весна?», «когда&nbsp;же лето?» и&nbsp;«пора картошку копать».
            p
                |Цунами, землетрясений и&nbsp;торнадо нет, есть дождики, снежок и&nbsp;солнышко.
            p
                |Ещё есть нефть, торф, уголь и&nbsp;остального так, по&nbsp;мелочи, на&nbsp;жизнь хватает. Мощная промышленность и&nbsp;крепкое сельское хозяйство&nbsp;— что ещё для счастья надо?
            a(href="#")
                |Природа
            h2
                |Удмуртия&nbsp;— это Чайковский, Калашников и 8&nbsp;бурановских бабушек
            p
                |Это навскидку, есть ещё много всякого другого.
            p
                |Но&nbsp;самое главное, что у&nbsp;нас больше всего рыжих на&nbsp;душу населения, чем в&nbsp;таких Неудмуртиях, как Ирландия, Шотландия и&nbsp;Германия вместе взятых. В&nbsp;любой день можно за&nbsp;час насчитать 20&nbsp;рыжих. И это их&nbsp;натуральный цвет! Поэтому, кроме фестиваля&nbsp;им. Чайковского, у нас проводится «Рыжий фестиваль», ведь рыжие&nbsp;— это тоже наша большая гордость и&nbsp;радость.
            p
                |Городов&nbsp;— 6&nbsp;штук, деревень&nbsp;— более двух тысяч.
            p
                |Население дружелюбное, более ста национальностей ведут себя культурно и&nbsp;не&nbsp;дерутся.
            a(href="#")
                |Земляки
            h2
                |Удмуртия&nbsp;— это самобытная культура
            p
                |Республика со&nbsp;своими эпосами, мифологией, песнями-плясками, праздниками, костюмами и&nbsp;поделками, которые с&nbsp;мохнатой древности и до&nbsp;сих пор прекрасно себя чувствуют в&nbsp;любом нашем населённом пункте в общем, а&nbsp;в&nbsp;деревне Лудорвай&nbsp;— удмуртском этнографическом комплексе&nbsp;— в&nbsp;частности.
            a(href="#")
                |Праздники
            h2
                |Удмуртия&nbsp;— это оригинальная кухня
            p
                |с&nbsp;длиннющим перечнем вкуснейших блюд, от&nbsp;которых слюнки текут у&nbsp;всех Неудмуртий на&nbsp;свете. Перепечи, кыстыбеи, кумышка и&nbsp;т.д.
            p
                |Ешь, пей, будь здоров!
            a(href="#")
                |Еда
            h2
                |Ну, что ещё?
            p
                |Сразу и&nbsp;не&nbsp;расскажешь, всё-таки 42,1&nbsp;тыс.&nbsp;км²! Сами знаете: лучше один раз лично убедиться, чем сто раз кого попало слушать.

            P.page__accent.text-bold
                |Так что «Гажаса́ ӧтисько́м, гажано́ куноо́с!»,<span class="text-reg"> что значит</span> «велкам, гости дорогие!»
            P
                |А&nbsp;мы&nbsp;сориентируем как, куда и&nbsp;что.
