html,body{
    width: 100%;
    height: 100%;
    font-family: $font--pt-sans;
    color: $color--primary;
}

.general-container{
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    background: url('../img/bg-pattern.jpg') repeat;
    z-index: 5;
}
